/* This file contains styling for the application.*/
body {

    font-family: 'Rubik', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {

    font-family: 'Rubik Mono One', sans-serif;
}

.small {
    
    font-weight: 300;
    font-style: italic;
}

.google-books-link{
    
    text-align: center;
}

.max-width{
    max-width: 100%;
}
